@using System.Security.Claims
@using DevReadyAcademy.Models.Constants

@{
    Layout = null;

    var identity = User.Identity as ClaimsIdentity;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>whoami</title>
</head>
<body>
    <div>
        <h2>whoami</h2>

        @if (!User.Identity.IsAuthenticated)
        {
            @:Who am I?
            @Html.ActionLink("login", "login", "account", new { ReturnUrl = "/whoami" }, null)
            @:to know!
        }
        else
        {

            <text>
            <h3>Claims:</h3>

            Username: @User.Identity.Name <br />
            Is Authenticated: @User.Identity.IsAuthenticated.ToString() <br />
            Authentication Type: @User.Identity.AuthenticationType.ToString() <br />
            Is Admin: @User.IsInRole(RoleName.Admin) <br />
            </text>

            <ul>
                @foreach (var claim in identity.Claims)
                {
                <li> @claim.Type:  @claim.Value</li>
                }
            </ul>
        }

    </div>
</body>
</html>
