@using System.Security.Claims

@{
    Layout = null;

    var identity = User.Identity as ClaimsIdentity;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>whoami</title>
</head>
<body>
    <div>
        <h2>whoami</h2>
       

        Username: @User.Identity.Name <br />
        Is Authenticated: @User.Identity.IsAuthenticated.ToString() <br />
        Authentication Type: @User.Identity.AuthenticationType.ToString() <br />
        Is Admin: @User.IsInRole("Admin") <br />
      

        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Login", "login", "account", new { ReturnUrl = "/whoami" }, null)
        }
        else {

            @: <h3>Claims:</h3>

            foreach (var claim in identity.Claims)
            {
                @claim.Type @: : @claim.Value <br />
            }
        }

    </div>
</body>
</html>
