@using DevReadyAcademy.Models.Constants

@model IEnumerable<DevReadyAcademy.Models.Course>

@{
    ViewBag.Title = "Index";

    var IsAdmin = User.IsInRole(RoleName.Admin);
}

<h2>Courses</h2>

@if (IsAdmin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img title="Details" alt="Details" style="width:32px;" src="~/Assets/Icons/details.png" />
                </a>

                @if (IsAdmin)
                {
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        <img title="Edit" alt="Edit" style="width:32px;" src="~/Assets/Icons/edit.png" />
                    </a>

                    <a href="@Url.Action("Delete", new { id = item.Id })">
                        <img title="Delete" alt="Delete" style="width:32px;" src="~/Assets/Icons/delete.png" />
                    </a>
                }
            </td>
        </tr>
    }

</table>
